{% extends "main.html" %}
{% load humanize %}
{% load custom_filters %}

<!-- Title  -->
{% block title %}Notes{% endblock title %}

<!-- Content -->
{% block content %}

<div class="container padding-50-0">
    <a href="{{request.META.HTTP_REFERER}}"><span class="fas fa-chevron-left color-dark" style="font-size: 24px;"></span></a>
    <h1 class="text-center padding-botton-30">{{subject.name}} Notes</h1>

    <div class="accordion display-flex flex-direction-column gap-50px" id="qaAccordion">

        <!-- Notes -->
        {% for note in notes %}
        <div class="card">
            <div class="card-header bg-dark" id="q1Heading">
                <h2 class="mb-0">
                    <button class="btn btn-link text-decoration-none" type="button" data-toggle="collapse" data-target="#q1Collapse" aria-expanded="true" aria-controls="q1Collapse">
                       Question : {{note.heading}}
                    </button>
                </h2>
            </div>

            <div id="q1Collapse" class="collapse show" aria-labelledby="q1Heading" data-parent="#qaAccordion">
                <div class="card-body">
                    <strong>Answer:</strong>                   
                    <ul>
                        {% for line in note.description|lines_to_list %}
                            <li>{{line|safe}}</li>
                        {% endfor %}
                    </ul>
                    {% comment %} <p>{{note.description|linebreaksbr|safe}}</p> {% endcomment %}
                    {% if note.syntax %}
                        <strong>Syntax:</strong>
                        <ul>
                            {% comment %} {% for line in note.syntax|linebreaksbr|safe %}
                                <li>{{line|safe}}</li>
                            {% endfor %} {% endcomment %}
                            <p>{{note.syntax|linebreaksbr}}</p>
                        </ul>
                    {% endif %}
                    {% if note.example %}
                        <strong>Example:</strong>
                        <ul>
                            {% comment %} {% for line in note.example|lines_to_list %}
                                <li>{{line|safe}}</li>
                            {% endfor %} {% endcomment %}
                            <p>{{note.syntax|linebreaksbr}}</p>
                        </ul>
                    {% endif %}
                    {% if note.important_note%}
                        <strong>Important Notes:</strong>
                        <ul>
                            {% for line in note.important_note|lines_to_list %}
                                <li>{{line|safe}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Add more questions and answers as needed -->
    </div>
</div>


{% endblock content %}